Same part of code is executed again and again

for loop,
while loop

In [ ]:
#for loop

In [ ]:
#syntax
for i in list:
  print(list)

In [ ]:
for i in [2,4,6,2,5] :
 print(i)
 print('hi python')

2
hi python
4
hi python
6
hi python
2
hi python
5
hi python

List Comprehension

In [ ]:
for i in [2,4,5,1]:
  print('hi python')
  print(i)

print('hellow')

hi python
2
hi python
4
hi python
5
hi python
1
hellow

In [ ]:
for i in [2,3,4,5,6,7,]:
 print(i)

2
3
4
5
6
7

In [ ]:
x = (2,3,4,5,6,7,)

for i in x :
  print(i)

2
3
4
5
6
7

In [ ]:
#100,92,84,76
x = range (100,10,-8)

for i in x :
 print(i)

100
92
84
76
68
60
52
44
36
28
20
12

In [ ]:
#100,92,84,76
x = range (100,10,-8)

for i in x :
  print ( i , end = ',')

100,92,84,76,68,60,52,44,36,28,20,12,

In [ ]:
#odd = [100,500]
#even = [100,500]
#num = [100,500]

x = range (100,501)

for i in x:
  odd = []
  even = []
  num = []
for i in x:
  num.append (i)
  if i%2 == 0 :
    even.append(i)

  else:
    odd.append(i)


print(num)
print(odd)
print(even)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500]
[101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499]
[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500]

In [ ]:
#1
#1 2
#1 2 3
#1 2 3 4
#1 2 3 4 5

for i in range(1,6):
  for i in range (1,i+1):
    print(i,end = ' ')
  print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
for i in range(1,6):
 for i in range(i,0,-1):

  print(i,end = ' ')
 print('\n')

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [ ]:
for i in range (1,6):
  for i in range (i,0,-1):

    print(i,end = ' ')
  print('\n')

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [ ]:
dict1 = {'name':'fida','phn':643673 ,'age':21}

for i in dict1:
  print(i)

name
phn
age

In [ ]:
dict1 = {'name':'fida','phn':643673 ,'age':21}

list1 = []
for i in dict1:
  list1.append(i)

print(list1)

['name', 'phn', 'age']

In [ ]:
dict1 = {'name':'fida','phn':643673 ,'age':21}

list1 = []
for i in dict1:
  list1.append(dict1[i])

print(list1)

['fida', 643673, 21]

In [ ]:
dict1 = {'name':'fida','phn':643673 ,'age':21}

list1 = []
for i in dict1:
  list1.append(dict1.get(i))

print(list1)

['fida', 643673, 21]

In [ ]:
dict1 = {'name':'fida','phn':643673 ,'age':21}

list1 = []
for i in dict1.values():
  list1.append(i)

print(list1)

['fida', 643673, 21]

In [ ]:
dict1 = {'name':'fida','phn':643673 ,'age':21}

list1 = []
for i in dict1.keys():
  list1.append(i)

print(list1)

['name', 'phn', 'age']

In [ ]:
dict1 = {'name':'fida','phn':643673 ,'age':21}

list1 = []
list2 = []

for i,j in dict1.items():
  list1.append(i)
  list2.append(j)

print(list1)
print(list2)

['name', 'phn', 'age']
['fida', 643673, 21]

In [ ]:
employees = [{'id':1000,'name':"hari",'dept':'devop','salary':34000},
             {'id':1001,'name':'ravi','dept':'devop','salary':24000},
             {'id':1002,'name':'ram','dept':'qa','salary':37000},
             {'id':1003,'name':'ajay','dept':'ga','slary':14000},
             {'id':1004,'name':'anu','dept':'ba','salary':54000},
             {'id':1005,'name':'tini','dept':'qa','salary':64000}]


for i in employees:
  if i ['salary'] < 25000:
    print(i['name'])

ravi

KeyError: 'salary'

In [ ]:
employees=[
{"id":1000,"name":"hari", "dept":"devop","salary":34000},
{"id":1001, "name":"ravi", "dept":"devop","salary":24000},
{"id":1002, "name":"ram", "dept":"qa", "salary":37000},
{"id":1003, "name":"ajay", "dept":"ga","salary":14000},
{"id":1004, "name": "anu", "dept":"ba", "salary":54000},
{"id":1005, "name": "tini", "dept":"qa","salary":64000},]

for i in employees:
  if i ['salary'] < 25000:
    print(i['name'])

ravi
ajay

In [ ]:
for i in employees:
  if i ['dept'] == 'devop':
    print(i['name'])

hari
ravi

In [ ]:
n = int(input('enter how many numbers you want to enter to input: '))


odd = []
even = []
list1 = []
dict1 = {}

for i in range(n):
  num = int(input('enter the numbers:'))


  list1.append(num)

  if num%2 == 0 :
     even.append(num)
  else :
     odd.append(num)
  dict1[num] = list1.count(num)
print(odd)
print(even)
print(list1)
print(dict1)

enter how many numbers you want to enter to input: 5
enter the numbers:56
enter the numbers:7
enter the numbers:99
enter the numbers:88
enter the numbers:7
[7, 99, 7]
[56, 88]
[56, 7, 99, 88, 7]
{56: 1, 7: 2, 99: 1, 88: 1}

In [ ]:
n = int(input('enter how many numbers you want to enter to input: '))


odd = []
even = []
list1 = []
dict1 = {}

for i in range(n):
  num = int(input('enter the numbers:'))


  list1.append(num)

  if num%2 == 0 :
     even.append(num)
  else :
     odd.append(num)


  if num  not in dict1:
    dict1[num] = 1
  else:
    dict1[num] = dict1[num] + 1


print(odd)
print(even)
print(list1)
print(dict1)

enter how many numbers you want to enter to input: 5
enter the numbers:7
enter the numbers:7
enter the numbers:8
enter the numbers:5
enter the numbers:7
[7, 7, 5, 7]
[8]
[7, 7, 8, 5, 7]
{7: 3, 8: 1, 5: 1}

If the number num is already a key in the dictionary, its value (count) is incremented by 1 .

if the number num is not a key in the dectionary ,it is added as a key with the value (cout) set to 1

In [ ]:
#jumping statements (loop cntrol statements)

#break
#continue
#pass

for i in range(10) :

  pass


print('hello')

hello

In [ ]:
for i in range (10):
  print(i)
  if i == 6:
    break

0
1
2
3
4
5
6

In [ ]:
for i in range (10):
  if i == 6:
    break

  print(i)

0
1
2
3
4
5

In [ ]:
for i in range (10):

  if i == 6:
    continue


  print(i)

         # there is no 6

0
1
2
3
4
5
7
8
9

In [ ]:
# for loop with else
# the else keyword in a for loop specifies a block of code to be executed when the loop is finished

for i in range(10):
   print(i)
   if i == 6:
    break

else :
  print(i,'is the last value of i')

0
1
2
3
4
5
6

In [ ]:
for i in range(10):
   print(i)
   if i == 6:
    continue

else :
  print(i,'is the last value of i')

0
1
2
3
4
5
6
7
8
9
9 is the last value of i

**WHILE LOOP**

In [ ]:
# with while loop we can execute a set of statements as long as the condition is ture

x = 5

while x < 10 :
  x = x+1
  print(x)

6
7
8
9
10

In [ ]:
while True :

  age = int(input('enter your age: '))

  if age >60:
    print('you are eligible')

  else:
    print('you are not eligible')

  x = input('if you want to continue enter yes otherwise no')

  if x == 'no':
    print('thenkyou sir bye')
    break

enter your age: 60
you are not eligible
if you want to continue enter yes otherwise noyes
enter your age: 67
you are eligible
if you want to continue enter yes otherwise noyes
enter your age: 5
you are not eligible
if you want to continue enter yes otherwise nono
thenkyou sir bye